%h1 Register an Account
.well.col-xs-12.col-md-8
  = form_for @user do |f|
    .form-group
      = f.label :first_name
      = f.text_field :first_name, class: "form-control"
    .form-group
      = f.label :last_name
      = f.text_field :last_name, class: "form-control"
    .form-group
      = f.label :email 
      = f.email_field :email, class: "form-control"
    .form-group
      = f.label :password
      = f.password_field :password, class: "form-control"
    .form-group
      = f.label :password_confirmation 
      = f.password_field :password_confirmation, class: "form-control"
    = f.submit "Sign Up", class: "btn btn-primary"