%h1 Register an Account

.well.col-xs-12.col-md-8
  = simple_form_for @user, html: {class: "form-horizontal"} do |f|
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.input :avatar
    %h2 Profile Info
    = f.fields_for :profile do |pro|
      = pro.input :age
      = pro.input :address
      = pro.input :bio
      %hr
    = f.submit "Register", class: "btn btn-primary"
